.center {
  margin-top: 35vh;
  margin-left: 28vh;
}

tr,
td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  background-color: antiquewhite;
  width: 70vh;
  margin-left: 118px;
  margin-top: 58px;
}
